<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="nomeInput">Nome</label>
        <input type="text" class="form-control" id="nomeInput" placeholder="Nome Completo" formControlName="nome">
    </div>
    <div class="form-group">
        <label for="cpfInput">CPF</label>
        <input type="text" class="form-control" id="cpfInput" placeholder="xxx.xxx.xxx-xx" pattern="[0-9]{3}[0-9]{3}[0-9]{3}[0-9]{2}" formControlName="cpf">
    </div>
    <div class="form-group">
        <label for="telefoneInput">Telefone</label>
        <input type="tel" class="form-control" id="telefoneInput" name="phone" placeholder="(xx) xxxxx-xxxxx" pattern="[1-9]{2}[0-9]{5}[0-9]{4}" formControlName="telefone">
    </div>
    <div class="form-group">
        <label for="emailInput">Email</label>
        <input type="email" class="form-control" id="emailInput" placeholder="nome@email.com" formControlName="email">
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Cadastrar</button>
</form>