<nav>
  <div class="nav">
    <button (click)="show = !show" data-toggle="tooltip" data-placement="bottom" title="Menu"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
      width="25" height="25"
      viewBox="0 0 172 172"
      style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,172v-172h172v172z" fill="none"></path><g fill="#ffffff"><path d="M0,14.33333v14.33333h172v-14.33333zM0,78.83333v14.33333h172v-14.33333zM0,143.33333v14.33333h172v-14.33333z"></path></g></g></svg></button>
    <ngx-nav-drawer [(open)]="show">
      <a routerLink="">Início</a>
      <a [routerLink]="['cadastrar']">Cadastrar</a>
      <a [routerLink]="['alugar-livro']">Alugar Livro</a>
      <a [routerLink]="">Reservar Livro</a>
      <a [routerLink]="">Cancelar Reserva</a>
      <a [routerLink]="">Devolver Livro</a>
      <a [routerLink]="">Dashboard</a>
    </ngx-nav-drawer>
  </div>
  <h2><a routerLink="">Pega Livro</a></h2>
</nav>
<router-outlet></router-outlet>
